.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
}

.App-header {
  /*background-color: #222;*/
  padding: 20px;
}

.App-intro {
  font-size: large;
}
.five{
  color:#fff;
  size: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu{
  border-bottom: 1px solid grey
}

.menuItem{
  padding: 5px
}

.photoDetails{
  border: solid 1px lightgrey;
  text-align: center;
}

.photoDetails img{
  width:100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}